
FL_REDIS_HOST=redis
FL_REDIS_PORT=6379
FL_REDIS_PASSWORD=

FL_MONGO_USERNAME=
FL_MONGO_PASSWORD=
FL_MONGO_REPLSET=
FL_MONGO_NODE1_HOST=mongo
FL_MONGO_NODE1_PORT=27017
FL_MONGO_NODE2_HOST=
FL_MONGO_NODE2_PORT=
FL_MONGO_DB=floducer

FL_PROXY_HOST=http://www.flipboard.cn/proxy/v1
FL_PROXY_VER=3.2.0

FL_OSS_ENDPOINT=http://oss-cn-hangzhou.aliyuncs.com
FL_OSS_ID=
FL_OSS_SECRET=
FL_OSS_CDN_ROOT=https://s.flipchina.cn
FL_OSS_UPLOAD_IMAGES_ROOT=https://s.flipchina.cn

FL_ONEAPM_KEY=

FL_ENABLE_VERBOSE_LOG=

FL_ENABLE_NODE_SCHEDULE_JOB=

FL_FLIPMAG_CHINA_TEMPLATE=http://custom-cdn.flipchina.cn/flipmag-china/index.html
FL_NEW_FLIPRSS_TEMPLATE=http://custom-cdn.flipchina.cn/flipmag/fliprss.html
FL_OLD_FLIPRSS_TEMPLATE=http://cdn.flipboard.com/flipmag/lib/fliprss.html
#DEV_ENV_FL_FLIPMAG_CHINA_TEMPLATE=
#DEV_ENV_FL_NEW_FLIPRSS_TEMPLATE=
#DEV_ENV_FL_OLD_FLIPRSS_TEMPLATE=

FL_FLODUCER_VERSION=1.0

FL_FLODUCER_JWT_SECRET=qwert
FL_FLODUCER_TEST_USER=user4test
FL_FLODUCER_TEST_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6InVzZXI0dGVzdCIsImdyb3VwIjoicHVibGlzaGVyIiwiaXNBZG1pbiI6ZmFsc2V9.0swmz91VFziwOmEiFXd6IXa8ne7V64Jn-8cSO9UbjxA
FL_FLODUCER_TEST_ADMIN_USER=admin4test
FL_FLODUCER_TEST_ADMIN_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6ImFkbWluNHRlc3QiLCJncm91cCI6InN1cGVyYWRtaW4iLCJpc0FkbWluIjp0cnVlfQ.GNkW9PA-RoofY3o9IkiA6QU1CVhuybzswjYiMFE-2Bk

FL_FLODUCER_ADMIN_GROUP=["admin4test", "wyn153409018"]
